In [1]:
import pandas as pd
import numpy as np
import pickle
from IPython.core.display import HTML, display
from sklearn.model_selection import train_test_split

In [2]:
display(HTML("<style>.container{width:90% !important}</style>"))

In [3]:
with open('./PklJar/PklDFs.pkl', 'rb') as f:
    saved = pickle.load(f)

In [4]:
dfTrainX = saved['dfTrainX']
dfTrainY = saved['dfTrainY']
dfTestX = saved['dfTestX']
dfTestY = saved['dfTestY']

In [5]:
(dfTrainX.columns == dfTestX.columns).all()

True

In [6]:
(dfTestY.columns == dfTrainY.columns).all()

True

I'm going to merge these data and redo the test/train split by first re-merging the pre-split data, then re-splitting the data

In [7]:
dfX = pd.concat((dfTrainX, dfTestX))
dfY = pd.concat((dfTrainY, dfTestY))

In [8]:
dfX.head()

      SST      SSS    Rrs412    Rrs443    Rrs531    Rrs555    Rrs667
0  6.4368  32.7300  0.001985  0.002234  0.001967  0.001550  0.000176
1  6.7481  32.6430  0.001700  0.001818  0.002168  0.001858  0.000229
2  6.4288  32.7849  0.001666  0.001981  0.002592  0.002248  0.000262
3  6.3396  30.0870  0.002146  0.002986  0.005287  0.005039  0.000792
4  5.9519  31.0530  0.002645  0.003534  0.005942  0.005494  0.000837

In [9]:
dfY.head()

      ag412  s300-600        doc
0  0.095968   0.02009  73.844167
1  0.106771   0.02051  73.012500
2  0.142269   0.02052  86.136667
3  0.195259   0.01961  96.481250
4  0.192223   0.01910  88.496667

In [10]:
dfX.describe(), dfY.describe()

(              SST         SSS      Rrs412      Rrs443      Rrs531      Rrs555  \
 count  279.000000  279.000000  279.000000  279.000000  279.000000  279.000000
 mean    16.291850   27.267609    0.002192    0.002761    0.004566    0.004571
 std      6.468936    6.540245    0.001860    0.001753    0.002615    0.002798
 min      0.000000    1.180000    0.000001    0.000392    0.001154    0.001060
 25%     12.186803   23.485140    0.001107    0.001839    0.002329    0.002206
 50%     14.927000   30.262000    0.001969    0.002433    0.003827    0.004065
 75%     21.206500   32.108084    0.002655    0.003096    0.005964    0.006194
 max     29.573000   35.022000    0.017884    0.014314    0.014211    0.013559

            Rrs667
 count  279.000000
 mean     0.001459
 std      0.001518
 min      0.000115
 25%      0.000397
 50%      0.000938
 75%      0.002065
 max      0.012390  ,             ag412    s300-600         doc
 count  279.000000  279.000000  279.000000
 mean     0.303319    0.019294  133.486636
 std      0.244801    0.001934   55.332630
 min      0.034784    0.013488   57.793000
 25%      0.138302    0.017724   87.753500
 50%      0.241464    0.019028  115.265850
 75%      0.410219    0.020615  172.612314
 max      2.734651    0.026530  279.500000)

In [11]:
def SplitData():
    trainIndices, testIndices = train_test_split(np.arange(dfX.shape[0]), test_size=0.2, random_state=42)
    return trainIndices, testIndices
trainIdx, testIdx = SplitData()

In [12]:
trainIdx.shape, testIdx.shape

((223,), (56,))

In [13]:
dfTrainX, dfTrainY = dfX.iloc[trainIdx], dfY.iloc[trainIdx]
dfTestX, dfTestY = dfX.iloc[testIdx], dfY.iloc[testIdx]

In [14]:
dfTrainX.shape, dfTrainY.shape, dfTestX.shape, dfTestY.shape

((223, 7), (223, 3), (56, 7), (56, 3))

Parking away test features and labels to avoid data snoop

In [15]:
testFrames = {'features': dfTestX, 'labels': dfTestY}
with open('./PklJar/TestSet.pkl', 'wb') as f:
    pickle.dump(testFrames, f)

In [16]:
del dfX, dfY, trainIdx, testIdx, dfTestX, dfTestY, testFrames

Saving training set for safety

In [18]:
trainFrames = {'features': dfTrainX, 'labels': dfTrainY}
with open('./PklJar/TrainSet.pkl', 'wb') as f:
    pickle.dump(trainFrames, f)